<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
        <% include ./shared/navbar %>                          
<!--================Home Banner Area =================-->
<% include ./partials/messages %>
<section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
          <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
              <div class="mb-3 mb-md-0">
                <h2>Blog</h2>
                <p>Very us move be blessed multiply night</p>
              </div>
              <div class="page_link">
                <a href="index.html">Home</a>
                <a href="blog.html">Blog </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================End Home Banner Area =================-->
  
    <!--================Blog Area =================-->
    <section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                <% if(aposts.length > 0) {%>
                    <% for(var i=0; i<aposts.length; i++) { %>
                        <article class="blog_item">
                          <div class="blog_item_img">
                                <h5><%= aposts[i].author %></h5>
                                <% if(currentuser.isadmin || aposts[i].author == currentuser.fullname ) {%>
                                <a href='home/edit/<%= aposts[i]._id %>' class="btn btn-success"> Edit </a>
                                <a href="/home/:id" class="btn btn-danger" onclick="return confirmdelete()" >Remove</a>
                                <% } %>
                                
                            <img class="card-img rounded-0" src="<%= aposts[i].postimg %>" alt="">
                            <a href="#" class="blog_item_date">
                              <h3><%= aposts[i].type %></h3>
                            </a>
                          </div>
                          
                          <div class="blog_details">
                              <a class="d-inline-block" href="single-blog.html">
                                  <h2><%= aposts[i].title %></h2>
                              </a>
                              <p><%= aposts[i].description %></p>
                              <ul class="blog-info-link">
                                <li><a href="#"> <%= aposts[i].timest %></a></li>
                                <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                        </article>
                        <script>
                        function confirmdelete(){
                            var x= confirm("Are you sure you want to remove?");
                            if(x){
                                return true;
                            }
                            else{
                                return false;
                            }
                        }
                        </script>
                        <% } %>
                        <% } %>
                        
                        
                        
  
  
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="ti-arrow-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="ti-arrow-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="/home" method="GET">
                              <div class="form-group">
                                <div class="input-group mb-3">
                                  <input type="text" name="search" id="search" class="form-control" placeholder="Search Keyword">
                                  <div class="input-group-append">
                                    <button class="btn" type="button"><i class="ti-search"></i></button>
                                  </div>
                                </div>
                              </div>
                              <button class="main_btn rounded-0 w-100" type="submit">Search</button>
                            </form>
                        
                        <aside class="single_sidebar_widget post_category_widget">
                          <h4 class="widget_title">Category</h4>
                        <% for(var i=0; i<aposts.length; i++) { %>
                          <ul class="list cat-list">
                              <li>
                                  <a href="#" class="d-flex">
                                      <p><%= aposts[i].type %></p>
                                  </a>
                              </li> 
                          </ul>
                          <% } %>
                          <p>Total Posts : <%= aposts.length %></p>
                        </aside>
  
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/loginstf/js/del.js"></script>
    <!--================Blog Area =================-->
                
                
                
    <% include ./shared/footer %>
</body>
</html>